<div class="container-fluid d-flex justify-content-center  align-items-center regist flex-column">
<%= form_tag("selected_trip", method: "post") do %>

<table class="table">
    <thead class="">
      <tr>
        <th scope="col">Driver</th>
        <th scope="col">Costo</th>
        <th scope="col">Opiniones</th>
        <th scope="col">#<th>
    </tr>
    </thead>
    <tbody>
      <% @allTrips.each do |driver, trip| %>
        <tr>
          <th>
            <%= trip.driver.name %>
          </th>
          <th>
            <%= trip.cost %>
          </th>
          <th>
            <%= trip.driver.rating.average %>
          </th>
          <th>
            <%= radio_button_tag('driver', driver ) %>
          </th>
        </tr>

      <% end %>
    </tbody>

<% end %>
</table>

<%= submit_tag "seleccionar", class: 'btn btn-primary' %>

</div>
