<%= form_tag("selectedTrip", method: "post") do %>

<table class="">
    <div class="container">
      <div>Driver</div>
      <div>Costo</div>
      <div>Opiniones</div>
      <div></div>
    </div>

      <% @allTrips.each do |driver, trip| %>
        <div class="container">
          <div>
            <%= trip.driver[:name] %>
          </div>
          <div>
            <%= trip.cost %>
          </div>
          <div>
            <%= trip.driver[:rating] %>
          </div>
          <div>
            <%= radio_button_tag('driver', driver ) %>
          </div>
        </div>

      <% end %>

<% end %>
</table>

<%= submit_tag "seleccionar", class: 'btn' %>
