<div class="container-fluid d-flex justify-content-center  align-items-center regist flex-column">

<%= form_tag("finish_trip", method: "post") do %>

  <h1> Desea puntuar a este conductor?</h1>
  <div class="container">

    <ul class="list-group">

      <li class="list-group-item">
        excelente
        <%= radio_button_tag 'rating', '5'%>
      </li>
      <li class="list-group-item">
        muy bueno
        <%= radio_button_tag 'rating', '4'%>
      </li>
      <li class="list-group-item">
        regular
        <%= radio_button_tag 'rating', '3'%>
      </li>
      <li class="list-group-item">
        malo
        <%= radio_button_tag 'rating', '2'%>
      </li>
      <li class="list-group-item">
        muy malo
        <%= radio_button_tag 'rating', '1'%>
      </li>
      <%= submit_tag "Finalizar viaje", class: 'btn btn-primary' %>
    </ul>
  </div>
<% end%>
</div>
