<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CordobaRemis</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
      <%= link_to 'CordobaRemis', root_path, class: 'navbar-brand' %>


      <% if passenger_signed_in? %>
      <div class="navbar-nav mr-auto text-center">
        <li class="nav-item nav-link"><%= "Hola " + current_passenger.name + "!" %></li>
         <%= link_to('Pedir viaje',trip_new_url, class: 'nav-item nav-link') %>

        <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ayuda
       </a>
       <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="#">Quienes Somos</a>
         <a class="dropdown-item" href="#"> Como funciona</a>
         <a class="dropdown-item " href="#"> Preguntas frecuentes</a>
       </div>
     </li>
      </div>

      <div class="navbar-nav dale">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi Perfil
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
            <%= link_to('Editar',edit_passenger_registration_path, class: 'dropdown-item') %>
            <a class="dropdown-item" href="#">Ver</a>
            <%= link_to('Cerrar sesi贸n', destroy_passenger_session_path,class: 'dropdown-item', :method => :delete) %>
          </div>
        </li>
      </div>

      <% elsif driver_signed_in? %>
      <div class="navbar-nav mr-auto text-center">
        <li class="nav-item nav-link"><%= "Hola " + current_driver.name + "!" %></li>
        <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ayuda
       </a>
       <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="#">Quienes Somos</a>
         <a class="dropdown-item" href="#"> Como funciona</a>
         <a class="dropdown-item " href="#"> Preguntas frecuentes</a>
       </div>
     </li>
      </div>

      <div class="navbar-nav dale">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi Perfil
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Ver</a>
            <a class="dropdown-item" href="#"> Editar</a>
            <%= link_to('Cerrar sesi贸n', destroy_driver_session_path,class: 'dropdown-item', :method => :delete) %>
          </div>
        </li>
      </div>


      <% else %>

      <div class="navbar-nav mr-auto text-center">
        <a class="nav-item nav-link " href="#">Quienes Somos</a>
        <a class="nav-item nav-link" href="#">Como Funciona</a>
        <%= link_to('Registrarse', session_helper_register_path, class: 'nav-item nav-link') %>
        <%= link_to('Iniciar sesi贸n', session_helper_login_path, class: 'nav-item nav-link') %>
      </div>

      <%end%>

    </header>

    <section class="container-fluid slider d-flex justify-content-center align-items-center">
      <%= yield %>
    </section>

    <section class="container mt-5 pt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ahorra dinero</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Donde sea cuando sea</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> Llegar a donde sea es facil</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </section>

    <div class="jumbotron driver mt-5 rounded-0">
      <div class="container">
        <h1 class="display-4">Conduce cuando quieras.</h1>
        <p class="lead">Registrate como conductor y genera las ganancias que necesitas.</p>
        <hr class="my-4">
        <p>Conducir con la app de CordobaRemis es una opci贸n flexible que ayuda a los Socios Conductores a alcanzar sus metas profesionales y financieras.</p>
        <p class="lead">

          <%= button_to('Registrarse',new_driver_registration_path, :method =>:get,
            :class => "btn btn-primary btn-lg")  %>

        </p>
      </div>
      </div>

    <p class="notice col-md-offset-3 white"><%= notice %></p>
    <p class="alert col-md-offset-3 white"><%= alert %></p>



    <section class="container-fluid abajo d-flex justify-content-center  align-items-center ">
      <div class="d-flex flex-column">


      <div class="p-2">
        <h4> Puedes encontrarnos en nuestras redes sociales</h3>

      </div>

      <div class="p-2">
        <h4> Descargar nuestra aplicacion</h3>


      </div>


      </div>
    </section>
  </body>
</html>
