<!DOCTYPE html>
<html>
  <head>
    <title>CordobaRemis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
      <nav class="be-blue white large-padding">
        <ul class="no-list row center-xs middle-xs">
        <h1 class=" col-md no-margin">
           <%= link_to "CordobaRemis", root_path%>
         </h1>

         <% if passenger_signed_in? %>
           <li class="col-md font-large">
             <%= current_passenger.name %>
           </li>
           <li class="col-md font-large">
             <%= link_to('Cerrar sesión', destroy_passenger_session_path, :method => :delete) %>
           </li>

          <% elsif driver_signed_in? %>
            <li class="col-md font-large">
              <%= current_driver.name %>
            </li>
            <li class="col-md font-large">
              <%= link_to('Cerrar sesión', destroy_driver_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li class="col-md font-large">
              <%= link_to('Registrarse', session_helper_register_path)  %>
            </li>
            <li class="col-md font-large">
              <%= link_to('Iniciar sesión', session_helper_login_path)  %>
            </li>
          <% end %>

        </ul>
      </nav>
    </headers>

    <%= yield %>

    <p class="notice col-md-offset-3"><%= notice %></p>
    <p class="alert col-md-offset-3"><%= alert %></p>
  </body>
</html>
