<!DOCTYPE html>
<html>
  <head>
    <title>CordobaRemis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>
      <nav class="be-blue white large-padding">
        <ul class="no-list row center-xs middle-xs">
        <h1 class=" col-md no-margin">
           <%= link_to "CordobaRemis", root_path%>
         </h1>
          <li class="col-md font-large">
            Registrate
          </li>
          <li class="col-md font-large">
            inicia sesión
          </li>

        </ul>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
